/**************** Utility ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --black: rgba(0, 0, 0, 1);
    --black_05: rgba(0, 0, 0, 0.5);
    --dark_blue: rgba(20, 25, 34, 1);
    --dark_grey: rgba(40, 40, 40, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(113, 113, 113, 1);
    --lime: rgba(173, 255, 47, 1);
}
/**************** Common ****************/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
}
.j_center{
    justify-content: center;
}
.a_it_center{
    align-items: center;
}
[class*=title]{
    text-transform: capitalize;
}
[class^=title]{
    color: var(--white);
    font-weight: 700;
}
.title_1{
    font-size: 2rem;
}
.title_2{
    font-size: 1.4rem;
}
.sub_title_1{
    font-size: 0.85rem;
    color: var(--grey);
}
.sub_title_2{
    font-size: 0.6rem;
}
.txt_white{
    color: var(--white);
}
.margin_top_big{
    margin-top: 3rem;
}
.margin_top_md{
    margin-top: 1.5rem;
}
.margin_top_sm{
    margin-top: 0.75rem;
}


/**************** Layout sezioni ****************/
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: pink;
}
main{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: orange;
}
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--dark_grey);
}
.nav_bar{
    width: 230px;
    height: 100%;
    background-color: var(--black);
}
.upgrade{
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}
.main_content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--dark_blue);
}
.inner_content{
    height: 100%;
    padding: 95px 0 0 20px;
    overflow-y: auto;
}

/**************** barra opaca in alto ****************/
.upgrade a{
    color: var(--white);
    border: 1px solid white;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
}

/**************** nav bar del contenuto ****************/
.nav_content li a{
    padding: 0 1rem;
    text-transform: uppercase;
}

/**************** sezione brani riprodotti di recente ****************/
