/**************** Utility ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
:root{
    --black: rgba(0, 0, 0, 1);
    --black_05: rgba(0, 0, 0, 0.5);
    --dark_blue: rgba(20, 25, 34, 1);
    --dark_grey: rgba(40, 40, 40, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(113, 113, 113, 1);
    --lime: rgba(173, 255, 47, 1);
}
/**************** Common ****************/
a{
    text-decoration: none;
    display: block;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
}
.flex{
    display: flex;
}
.j_center{
    justify-content: center;
}
.a_it_center{
    align-items: center;
}
[class*=title]{
    font-weight: 700;
}
[class^=title]{
    color: var(--white);
}
[class*=sub_title]{
    color: var(--grey);
}
.title_1{
    font-size: 1.6rem;
}
.title_2{
    font-size: 1.1rem;
}
.sub_title_1{
    font-size: 0.9rem;
}
.sub_title_2{
    font-size: 0.8rem;
}
.txt_white{
    color: var(--white);
}
.txt_center{
    text-align: center;
}
.margin_top_big{
    margin-top: 3rem;
}
.margin_top_md{
    margin-top: 1.5rem;
}
.margin_top_sm{
    margin-top: 0.75rem;
}
.margin_top_xsm{
    margin-top: 0.4rem;
}


/**************** Layout sezioni ****************/
.wrapper{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    background-color: pink;
}
main{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: orange;
}
footer{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--dark_grey);
}
.nav_bar{
    width: 230px;
    height: calc(100vh - 80px);
    background-color: var(--black);
    padding: 1rem 1rem 0 1rem;
}
.upgrade{
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}
.main_content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--dark_blue);
}
.inner_content{
    height: 100%;
    padding: 95px 0 0 20px;
    overflow-y: auto;
}

/**************** barra opaca in alto ****************/
.upgrade a{
    color: var(--white);
    border: 1px solid white;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
}

/**************** nav bar del contenuto ****************/
.nav_content li a{
    padding: 0 0.6rem;
    text-transform: uppercase;
}

/**************** sezione delle playlist in evidenza ****************/
.card{
    width: calc(100% / 6);
    padding-right: 1rem;
}
#famous_artists .card img{
    border-radius: 50%;
}
.inner_content section:last-child{
    margin-bottom: 4rem;
}

/**************** nav bar laterale****************/
.nav_bar .logo_box svg{
    height: 50px;
}
.nav_bar .logo_box_small{
    display: none;
}
.nav_bar section .icon_box:first-child{
    margin-top: 16px;
}
.nav_bar .icon_box path, .download_box path{
    fill: var(--grey);
}
.nav_bar .icon_box svg, .logo_box_small svg{
    height: 30px;
    margin-right: 10px;
}
.nav_bar .plus{
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 2.5rem;
    background-color: var(--grey);
    margin-right: 10px;
}
.nav_bar .personal_playlist ul{
    overflow-y: auto;
    height: 250px;
}
.nav_bar #profile{
    position: fixed;
    bottom: 80px;
    left: 0;
    background-color: var(--black);
    width: 230px;
    padding: 1rem;
}
.nav_bar .download_box svg{
    height: 1rem;
    margin-right: 10px;
}
.nav_bar .download_box{
    border-bottom: 1px solid var(--grey);
    padding-bottom: 0.5rem;
}
.nav_bar .profile_box svg{
    height: 1.3rem;
    background-color: var(--grey);
    border-radius: 50%;
    margin-right: 10px;
}

/**************** media query ****************/
@media screen and (max-width:992px){
    :root{
        font-size: 0.9rem;
    }
    .card{
        width: 25%;
    }
    .cards.flex, .nav_content .flex{
        flex-wrap: wrap;
    }
    .nav_content li{
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:768px){
    .card{
        width: 50%;
    }
}

@media screen and (max-width: 576px){
    .d_none_sm{
        display: none;
    }
    .nav_bar .logo_box_small{
        display: block;
    }
    .nav_bar .download_box{
        border-bottom: 0;
    }
    .nav_bar{
        width: 50px;
        padding: 0.5rem 0.5rem 0 0.5rem;
    }
    .nav_bar #profile{
        width: 50px;
        padding: 0.5rem;
        text-align: center;
    }
    .upgrade{
        width: calc(100% - 50px);
    }
    .main_content{
        width: calc(100% - 50px);
    }
    .nav_bar .icon_box svg, .logo_box_small svg, .nav_bar .download_box svg, .nav_bar .profile_box svg{
        margin-right: 0px;
    }
    .flex_sm{
        display: flex;
        flex-direction: column;
    }
}